/*Header*/
.nav-li{
    display: inline;
    list-style: none;
    padding-left: 15px;
}

.nav-h1{
    display: inline;
}
/*HELP why do i need this seperate class .nav (when i dont have it i cant get the text to align at the top in the nav bar*/
.nav{
    float: right;
}

/*Main*/
body {
    background-color:rgb(162, 238, 163); 
}

/*About Me Section*/
.text-pic-container{
    display: flex;
    padding-top: 2%;
    float: right;
}
.pic-me{
    width: 20%;
    list-style: none;
}

#about-me {  
    background-color: aqua;
    border-style: dashed;
    border-color: black;
    padding-left: 2%;
}

/*My Work Section*/
/* HELP Want to make the app space in multiple rows and evenly */
/* HELP Want to make the image centered in the back ground with barely any space outside the image*/
.nav-app {
    list-style: none;
    background-color: aqua;
    border-style: dashed;
    border-color: black;
}

#my-work {
    padding-top: 32%;
    padding-bottom: 2%;
   
}
.past-work {
    width: 20%;
    }   
    
.place-holder {
    width: 10%;
    }

 /*Screen Sizing*/
@media screen and (min-width: 1080px) {
    .nav-h1{
        width: 100%;
    }
  }

  @media screen and (max-width: 480px) {
    .nav-h1{
        width: 100%;
    }
  }


